{% extends 'base.html.twig' %}

{% block main %}

	

<<<<<<< HEAD
<div>
	{% for user in users %}
=======
	{% for user in users %}       
		<br>
>>>>>>> aa0be3ca935b1df4246e273fe2dbe7ac8f7b265e
		{{ user.getCreateDate()| date('Y-m-d H:i:s') }}
		<br>
		{{ user.getUsername() }} 
		<br>
		{{ user.getEmail() }}    
		<br>
		{{ user.getAbout() }} 
		<br>
		{{ user.getAddress() }} 
		<br>
		{# {{ user.getPicture() }}  #}
	{% endfor %}
<<<<<<< HEAD
</div>
{% endblock %}
=======
	<div class="margin_right"></div>

{% endblock %}

>>>>>>> aa0be3ca935b1df4246e273fe2dbe7ac8f7b265e
