{% extends 'base.html.twig' %}

{% block main %}

	

	{% for user in users %}       
		<img class="profile-pic" src="{{ path('download_document', {'document' : user.getPicture().getId()}) }}">
		<br>
		{{ user.getCreateDate()| date('Y-m-d H:i:s') }}
		<br>
		{{ user.getUsername() }} 
		<br>
		{{ user.getEmail() }}    
		<br>
		{{ user.getAbout() }} 
		<br>
		{{ user.getAddress() }} 
		<br>
		{# {{ user.getPicture() }}  #}
	{% endfor %}



	<div class="margin_right"></div>

	<div class="margin_right"></div>

{% endblock %}

