{% extends 'base.html.twig' %}

{% block main %}

	

	{% for user in users %}      
		 <img class="profile-pic" src="{{ path('download_document', {'document' : user.getPicture().getId()}) }}"> 
		<br>
		{{ user.getCreateDate()| date('Y-m-d H:i:s') }}
		<br>
		{{ user.getUsername() }} 
		<br>
		{{ user.getEmail() }}    
		<br>
		{{ user.getAbout() }} 
		<br>
		{{ user.getAddress() }} 
		<br>
	{% endfor %}
		{% for post in posts %}      
		 <img class="profile-pic" src="{{ path('download_document', {'document' : post.getPicture().getId()}) }}">
		<br>
		{{ post.getCreationDate()| date('Y-m-d H:i:s') }}
		<br>
		{{ post.getTitle() }} 
		<br>
		{{ post.getCategory() }}    
		<br>
		{{ post.getText() }} 
		<br>

	
	{% endfor %}
		






	<div class="margin_right"></div>


{% endblock %}

