{% extends 'base.html.twig' %}

{% block main %}

	<div class="bgcpicture"></div>

	{% for user in users %}
		{{ user.getCreateDate()| date('Y-m-d H:i:s') }}
		<br>
		{{ user.getUsername() }} 
		<br>
		{{ user.getEmail() }}    
		<br>
		{{ user.getAbout() }} 
		<br>
		{{ user.getAddress() }} 
		<br>
		{{ user.getPicture() }} 
	{% endfor %}



	<div class="margin_right"></div>


{% endblock %}

