{% extends 'base.html.twig' %}

{% block main %}
<div>

	{% for user in users %}  
	            {% if user.getPicture() is not empty %}    
		 		<img class="profile-pic" src="{{ path('download_document', {'document' : user.getPicture().getId()}) }}"> 
		{% else %}
			<td></td>
		{% endif %}
		<br>
		{{ user.getCreateDate()| date('Y-m-d H:i:s') }}
		<br>
		{{ user.getUsername() }} 
		<br>
		{{ user.getEmail() }}    
		<br>
		{{ user.getAbout() }} 
		<br>
		{{ user.getAddress() }} 
		<br>

	{% endfor %}

</div>
<div class="margin_right"></div>



		{% endfor %}


	<div class="margin_right"></div>

{% endblock %}




