{% extends 'base.html.twig' %}

{% block body %}

<div>

	{% for user in users %}       
		<br>
		{{ user.getCreateDate()| date('Y-m-d H:i:s') }}
		<br>
		{{ user.getUsername() }} 
		<br>
		{{ user.getEmail() }}    
		<br>
		{{ user.getAbout() }} 
		<br>
		{{ user.getAddress() }} 
		<br>
		{#{{ user.getPicture() }}#}
	{% endfor %}

</div>
{% endblock %}










