



{% extends 'base.html.twig' %}
{% block title %}upSTART.lu{% endblock %}
{% block body %}
    <main>
            <div class="main-container">
                <div class="main-text-container">
                    <span class="up-content">up</span><br>
                    <span class="start-content">START</span>
                    <p class="definition-first-para">social netwoek for any start-up who want to share its experience to make it a success guide</p>
                    <p class="definition-second-para">Here where every startup should be an introduction for a new successful business</p>

                </div>
                <div class="main-forms-container">
                    <div class="login">
                        <form class="login-form" action="">
                            <label for="login-form-user" >User name / Email </label> 
                            <input type="text" id="login-form-user" name="loginUser" class="login-form-user">
                            <label for="login-form-password" >Password</label> 
                            <input type="password" name="loginPassword" id="login-form-password" class="login-form-password">
                            <input type="submit" class="login-form-submit" value="Log in">
                            <input type="checkbox" id="login-form-checkbox" class="login-form-checkbox" name="remember-me"><label class="login-form-label" for="login-form-checkbox">Remember me</label> <br>
                            <a class="forgot-password" href="">Forgot your password?</a>
                        </form>
                        <form class="signup-form" action="">
                            
                            {{ form_start(form) }}
                                {{ form_row(form.username, { 'attr': {'class': 'login-form-user'} }) }}
                                {{ form_row(form.email, { 'attr': {'class': 'login-form-user'} }) }}
                                {{ form_row(form.password, { 'attr': {'class': 'login-form-user'} }) }}
                                <button type="submit" class="login-form-submit">Register</button>
                            {{ form_end(form) }}
                        </form>

                    </div>

                </div>
            </div>
        </main>
{% endblock %}