{% extends 'base.html.twig' %}
{% block title %}upSTART.lu{% endblock %}
{% block body %}
    <div class="main-container">
        <div class="main-text-container">
            <span class="up-content">up</span><br>
            <span class="start-content">START</span>
            <p class="definition-first-para">Social network for any start-up who wants to share their experience to make it a success guide</p>
            <p class="definition-second-para">Here where every startup should be an introduction for a new successful business</p>
        </div>
        <div class="main-forms-container">
            <div class="login">
                <form action="{{ path('login') }}" method="post" class="login-form" action="">
                    <label for="login-form-user" >User name / Email </label> 
                    <input type="text" id="login-form-user" class="login-form-user" name="_username">
                    <label for="login-form-password" >Password</label> 
                    <input type="password" id="login-form-password" class="login-form-password" name="_password">
                    <input type="submit" class="login-form-submit" value="Log in">
                    <input type="checkbox" id="login-form-checkbox" class="login-form-checkbox" name="remember-me"><label class="login-form-label" for="login-form-checkbox">Remember me</label> <br>
                    <a class="forgot-password" href="">Forgot your password?</a>
                </form>
            </div>
            <div class="signup">
                {{ form_start(form, {'attr': {'class': 'signup-form'}} ) }}
                    {{ form_row(form.username, { 'attr': {'class': 'login-form-user'} }) }}
                    <br>
                    {{ form_row(form.email, { 'attr': {'class': 'login-form-user'} }) }}
                    <br>
                    {{ form_row(form.password.first, { 'attr': {'class': 'login-form-user'} }) }}
                    <br>
                    {{ form_row(form.password.second, { 'attr': {'class': 'login-form-user'} }) }}
                    <br>
                    {{ form_row(form.address, { 'attr': {'class': 'login-form-user'} }) }}
                    <br>
                    <div class="g-recaptcha" data-sitekey="6LfolWoUAAAAAD5cCJkwHXnQ0fJovGtiOA2LOVHG"></div>
                    <br>
                    <button type="submit"class="login-form-submit">Register</button>
                {{ form_end(form) }}    
            </div>
        </div>
    </div>
{% endblock %}
