{% extends 'base.html.twig' %}

{% block title %}upSTART.lu{% endblock %}

{% block body %}
		{% block left_marge %}
                    <div id="left-navbar">
                        {% if is_granted('ROLE_USER') %}
                        <a href="{{ path ('profile') }}"><i class="fas fa-user-alt"></i>  My profile | </a>
                        <br>
                        <br>
                        <a href="{{ path ('Chat') }}"><i class="fas fa-envelope"></i>   Messages | </a>
                        <br>
                        <br>                        
                        <a href = "{{path ('post') }}"><i class="fas fa-list-alt"></i>  Posts | <a/>
                        <br>
                        <br>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href = "{{path ('admin') }}"><i class="fas fa-columns"></i>  Admin panel | <a/>
                        {% endif %}
                        <br>
                        <br>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href = "{{path ('logout') }}"><i class="fas fa-sign-out-alt"></i>  Log Out | <a/>
                        {% endif %}
                    {% endif %}
                    </div>               
             {% endblock %}
		{% if messages is empty %}
				<p>No messages found in the application</p>
			{% else %}

			<div id="chat">
				<h2 class = "title">Global Chat</h2>
				<table class="table table-striped">
					<tbody>
						{% for message in messages %}
							<tr>          				
								<td>{{ message.getContent() }}</td>   
								<td>{{ message.getUser.getUsername() }}</td>           				
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			
		{% endif %}
		
	{{ form_start(chatForm) }}
			{{ form_row(chatForm.content) }}
			<button type="submit" class="login-form-submit" > Send </button>
	{{ form_end(chatForm) }}

{% endblock %}
