
<footer>
    <a href="https://www.facebook.com/", target="_blank"><i class="fab fa-facebook"></i> | </a>
    <a href="https://twitter.com/?lang=en", target="_blank"><i class="fab fa-twitter"></i> | </a>
    <a href="https://www.linkedin.com", target="_blank"><i class="fab fa-linkedin"></i> | </a>
    <a href="https://www.youtube.com", target="_blank"><i class="fab fa-youtube"></i> | </a>
    <a href="https://github.com/bahaa-almahamid/upStart, target="_blank""><i class="fab fa-github"></i> | </a>
    <a href='{{ path('about') }}'> About us! | </a>
    <a href='{{ path('contact') }}'> Contact! | </a>
    <a href="https://goo.gl/maps/4H6dVn2aiq92",  target="_blank"> Find us! | </a>
    <a href='{{ path('privacy') }}'> Privacy | </a>
    <a href='{{ path('terms') }}'> Terms of use | </a>
    <a>Copyright by JB TIM</a>

    <div style="position:absolute; bottom:0%; width:100%; background:#056675; display: flex; flex-direction: row; justify-content: space-between; padding-left:10%; padding-right:10%;">
       
            <div style="display: flex; flex-direction: column; text-align: center;">
                <h4>Folow us on</h4>
                <a href="https://www.facebook.com/",  target="_blank"><i class="fab fa-facebook"></i>  Facebook</a>
                <a href="https://twitter.com/?lang=en",  target="_blank"><i class="fab fa-twitter"></i>  Twitter</a>
                <a href="https://www.linkedin.com",  target="_blank"<i class="fab fa-linkedin"></i>  LinkedIn</a>
                <a href="https://www.youtube.com",  target="_blank"><i class="fab fa-youtube"></i>  YouTube</a>
                <a href="https://github.com/bahaa-almahamid/upStart,  target="_blank"">Our GitHub</a>
            </div>
            <div style="display: flex; flex-direction: column; text-align: center;">
                <h4>Who we are?</h4>
                <a href='{{ path('about') }}'> About us! </a>
                <a href='{{ path('contact') }}'> Contact! </a>
                <a href="https://goo.gl/maps/4H6dVn2aiq92",  target="_blank"> Find us! </a>
            </div>
            <div style="display: flex; flex-direction: column; text-align: center;">
                <h4>Legal</h4>
                <a href='{{ path('privacy') }}'> Privacy </a>
                <a href='{{ path('terms') }}'> Terms of use </a>
                <br>
                <br>
                <a>Copyright by JB TIM</a>

            </div>
        </div>
   
</footer> 


