<header>  
    <h1 id="logo-us">uS</h1>
    <div id="search-input-container">
        <i class="fas fa-search"></i> <input type="search" id="search-input" placeholder="Search">
        </div>
        <div class = "menu">
        <a href = "{{path ('login') }}">Login<a/>
        <a href = "{{path ('post') }}">News<a/>
        <a href = "{{path ('Chat') }}">Global Messages<a/>
        <a href = "{{path ('post') }}">Admin panel<a/>
        <a href = "{{path ('post') }}">profile<a/>

        
        <a href = "{{path ('logout') }}">logout<a/>

        </div>
    
</header>
   