{% extends 'base.html.twig' %}

{% block title %}wf3tm posts detail{% endblock %}

{% block body %}
	<div class="container">
		
            {{ post.getCreationDate()| date('Y-m-d H:i:s') }}
            <br>
            {{ post.getCategory() }} 
            <br>
            {{ post.getTitle() }}
            <br>
            {{ post.getText() }}   

			<img src ="{{ path ('download_document',{document:post.getPicture().getId()}) }}"/> 
			 
		
		<div class="element-warning mt-5">
		</div>
		<div id="posting">
       {{ form(commentForm) }}
    </div>
	</div>
{% endblock %}
