{% extends 'base.html.twig' %}

{% block title %}wf3tm posts detail{% endblock %}

{% block body %}
	<div class="container">
		<p>id : {{ post.getId() }}</p>
		<p>created date : {{ post.getCreationDate()|date('Y-m-d H:i:s') }}</p>
		<p>priority : {{ post.getText() }}</p>
		<p>title : {{ post.getTitle() }}</p>
		
		<div class="element-warning mt-5">
		    {{ form(form) }}
		</div>
	</div>
{% endblock %}
