{% extends 'base.html.twig' %}

{% block title %}wf3tm posts detail{% endblock %}

{% block main %}


	<div class="container">

		
            {{ post.getCreationDate()| date('Y-m-d H:i:s') }}
            <br>
            {{ post.getCategory() }} 
            <br>
            {{ post.getTitle() }}
            <br>
            {{ post.getText() }}   

            {% if post.getPicture() is not empty %}
				<img src="{{ path('download_document', {'document' : post.getPicture().getId()}) }}">
			{% else %}
				<td></td>
			{% endif %}			 
			 


		<p>id : {{ post.getId() }}</p>
		 {{ post.getCreationDate()|date('Y-m-d H:i:s') }}
         <br>
		 {{ post.getText() }}
         <br>
		 {{ post.getTitle() }}
         <br>

		<div class="element-warning mt-5">
		</div>
		<div id="posting">
       {{ form(commentForm) }}
    </div>
    {% if comments is empty %}
        <p>No Comments found in the application</p>
    {% else %}  
                     
    {% for comment in comments %}
        {{ comment.getCreateDate()| date('Y-m-d H:i:s') }}
        {% if comment.getPicture() is not empty %}
            <td><img src="{{ path('download_document', {'document' : comment.getPicture().getId()}) }}"></td>
            {% else %}
                <td></td>
            {% endif %}
            <br>
            {{ comment.getContent() }}    
    {% endfor %}
    {% endif %}


	</div>
{% endblock %}
