{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}



{% block main %}

<div class="white">
<div id="posting">
        {{ form_start(postForm) }}
            {{ form_row(postForm.category) }}
            {{ form_row(postForm.title) }}
            {{ form_row(postForm.text) }}
        {{ form_end(postForm) }}
 </div>

    {% if posts is empty %}
        <p>No Post found in the application</p>
    {% else %}  
                     
    {% for post in posts %}
            {{ post.getUser.getUsername() }} 
            <div class = "post-container">
            {% if post.getPicture() is not empty %}

								<div class="pic-container"><img class="post-pic"  src="{{ path('download_document', {'document' : post.getPicture().getId()}) }}"> </div>
                <br>
							{% else %}
								<td></td>
                <br>
							{% endif %}

            {{ post.getCreationDate()| date('Y-m-d H:i:s') }}
            <br>
            {{ post.getCategory() }} 
            <br>
            {{ post.getTitle() }}
            <br>
            {{ post.getText() }}    
            <br>
            <td><a href="{{ path("post_detail", {post: post.getId()}) }}">Comments</a></td>

         </div>	      				
            <br>
        
    {% endfor %}            
    {% endif %}
<<<<<<< HEAD
=======
    <div class="paginator" style="text-align:center;">

      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active">
            <span class="page-link">
              2
              <span class="sr-only">(current)</span>
            </span>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
</div>

>>>>>>> aece31520593857d35bc3a62841356e94d3b00d7
{% endblock %}


