{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}
    <div id="searchform">
        {{ form_start(searchForm) }}
            {{ form_row(searchForm.post)  }}
            <br>
            {{ form_row(searchForm.search) }}
        {{ form_end(searchForm) }}
    </div>

    <br>

    <div id="posting">
        {{ form_start(postForm) }}
            {{ form_row(postForm.category) }}
            {{ form_row(postForm.title) }}
            {{ form_row(postForm.text) }}
        {{ form_end(postForm) }}
    </div>

    {% if posts is empty %}
        <p>No Post found in the application</p>
    {% else %}  
                     
    {% for post in posts %}


 
            <div class = "post-container">
            <img class="profile-pic" src="{{ path('download_document', {'document' : post.getPicture().getId()}) }}">
            <br>
            {{ post.getCreationDate()| date('Y-m-d H:i:s') }}
            <br>
            {{ post.getCategory() }} 
            <br>
            {{ post.getTitle() }}
            <br>
            {{ post.getText() }}    
            <br>
            <td><a href="{{ path("post_detail", {post: post.getId()}) }}">Comments</a></td>
         </div>	      				
            {% for user in users %}
                {{ user.getUsername() }} 
            {% endfor %} 
    {% endfor %}            
    {% endif %}

{% endblock %}