{% extends 'base.html.twig' %}

{% block title %}Timeline{% endblock %}

{% block body %}
    <div id="left-navbar">
        {% if is_granted('ROLE_USER') %}  
            {% if app.user.getPicture() is not empty %}
                <div class='index-pic-div'><img class="index-profile-pic"  src="{{ path('download_document', {'document' : app.user.getPicture().getId()}) }}"> </div> <br>
            {% else %}
                <div class='index-pic-div'><img class="index-profile-pic" src="{{ asset('img/avatar.png')}}"></div><br>
            {% endif %}
            <a href="{{ path ('profile') }}"><i class="fas fa-user-alt"></i>  My profile | </a>
            <br>
            <a href="{{ path ('Chat') }}"><i class="fas fa-envelope"></i>   Messages | </a>
            <br>                        
            <a href = "{{path ('post') }}"><i class="fas fa-list-alt"></i>  Posts | <a/>
            <br>
            {% if is_granted('ROLE_ADMIN') %}
                <a href = "{{path ('admin') }}"><i class="fas fa-columns"></i>  Admin panel | <a/>
            {% endif %}
            <br>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href = "{{path ('logout') }}"><i class="fas fa-sign-out-alt"></i>  Log Out | <a/>
        {% endif %}
        {% endif %}
    </div>    

    
    <div class="timeline-container">
        <div class="posting">
                {{ form_start(postForm) }}
                    {{ form_row(postForm.category) }}
                    {{ form_row(postForm.title) }}
                    {{ form_row(postForm.text) }}
                {{ form_end(postForm) }}
        </div>
        <div class="show-all-posts">
            {% if posts.getTotalItemCount == 0 %}
                <p>No Post found in the application</p>
            {% else %}
                {% for post in posts %}
                    <div class="post-user-display" >
                        {% if post.getUser.getPicture() is not empty %}
                        <div class='user-pic-div'><img class="post-user-pic"  src="{{ path('download_document', {'document' : post.getUser.getPicture().getId()}) }}"> </div>
                        {% else %}
                        <div class='user-pic-div' > <img class="post-user-pic"  src="{{ asset('img/avatar.png')}}"> </div>
                        {% endif %}
                        <div class="post-user-display-username">
                        <a  href="{{ path ('profile_user', { 'id' : post.getUser.getId() }) }}"> {{ post.getUser.getUsername() }} </a> 
                        </div>
                    </div>
                    <div class = "post-container">
                        {% if post.getPicture() is not empty %}
                            <div class="post-pic-container"><img class= 'post-pic' src="{{ path ('download_document', {'document' : post.getPicture().getId()}) }}"></div>
                        {% else %}
                            <div class="post-pic-container"><img class="post-pic"  src="{{ asset('img/postAva.png')}}"></div>
                        {% endif %}
                        <p class="creation-date-show">Created at:&nbsp {{ post.getCreationDate()| date('Y-m-d H:i:s') }}| Category:&nbsp{{ post.getCategory() }}</p>
                        <h3 class="title-show">{{ post.getTitle() }}</h3>
                        <p class="body-show">{{ post.getText() }}<p>
                        <p class="post-detail-show"><a class="click-link" href="{{ path("post_detail", {post: post.getId()}) }}">Comments</a></p>
                        
                        {% if app.user == post.getUser() %}
                        <p class="post-edit-show"><a class="click-link" href="{{ path("post_edit", {post: post.getId()}) }}">Edit Post</a></p>
                        <p class="post-delete-show"><a class="click-link" href="{{ path("delete_post", {post: post.getId()}) }}">Delete Post</a></p>
                        {% endif %}
                    </div>
                    
                {% endfor %}
            {% endif %}
        </div>
        <div class="paginator">
                    {{ knp_pagination_render(posts) }}
        </div>
    </div>
{% endblock %}