{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}



{% block main %}

<div class="white">
    <div class="posting">
            {{ form_start(postForm) }}
                {{ form_row(postForm.category) }}
                {{ form_row(postForm.title) }}
                {{ form_row(postForm.text) }}
            {{ form_end(postForm) }}
    </div>

    {% if posts.getTotalItemCount == 0 %}
        <p>No Post found in the application</p>
    {% else %}
        {% for post in posts %}
            <div class="post-user-display" >
                <div class="post-user-display-username"> {{ post.getUser.getUsername() }} </div>
                {% if post.getUser.getPicture() is not empty %}
                    <div class="small-user-container"><img class="post-user-pic"   src="{{ path('download_document', {'document' : post.getUser.getPicture().getId()}) }}"> </div>
    			{% else %}
    				<div></div>
    			{% endif %}
            </div>
            <div class = "post-container">
                {% if post.getPicture() is not empty %}
                    <div><img id ="img" src="{{ path('download_document', {'document' : post.getPicture().getId()}) }}"></div>
                {% else %}
                    <div></div>
                {% endif %}
                <p>{{ post.getCreationDate()| date('Y-m-d H:i:s') }}</p>
                <p>{{ post.getCategory() }}</p>
                <p>{{ post.getTitle() }}</p>
                <p>{{ post.getText() }}<p>
                <p><a href="{{ path("post_detail", {post: post.getId()}) }}">Comments</a></p>

                {% if app.user == post.getUser() %}
                <p><a href="{{ path("post_edit", {post: post.getId()}) }}" class="btn btn-danger btn-lg">Edit Post</a></p>
                
                <p><a href="{{ path("delete_post", {post: post.getId()}) }}" class="btn btn-danger btn-lg">Delete Post</a></p>
                {% endif %}
             </div>
            <div class="navigation">
                {{ knp_pagination_render(posts) }}
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}

